<section class="phx-hero">
  <h1>Form Forge</h1>

</section>

<section class="row">
  <article class="column">
    <h2>Forge Forms On Demand</h2>
    <ul>
      <li>
        <a href="/customers">Customers</a>
      </li>
      <li>
        <a href="/vendors">Vendors</a>
      </li>
    </ul>
  </article>
</section>
